Modifying DataFrames
In the previous lesson, you learned what a DataFrame is and how to select subsets of data from one.

In this lesson, you'll learn how to modify an existing DataFrame. Some of the skills you'll learn include:

    Adding columns to a DataFrame
    Using lambda functions to calculate complex quantities
    Renaming columns

### Adding a Column I
Sometimes, we want to add a column to an existing DataFrame. We might want to add new information or perform a calculation based on the data that we already have.

One way that we can add a new column is by giving a list of the same length as the existing DataFrame.

The DataFrame df contains information on products sold at a hardware store. Add a column to df called 'Sold in Bulk?', which indicates if the product is sold in bulk or individually.

In [1]:
import pandas as pd

df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Sold in Bulk?'] = ['Yes', 'Yes', 'No', 'No']

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

### Adding a Column II
We can also add a new column that is the same for all rows in the DataFrame.

Add a column to df called Is taxed?, which indicates whether or not to collect sales tax on the product. It should be 'Yes' for all rows.

In [2]:
df['Is taxed?'] = 'Yes'

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?
0       Yes
1       Yes
2       Yes
3       Yes

### Adding a Column III
Finally, you can add a new column by performing a function on the existing columns.

Add a column to df called 'Revenue', which is equal to the difference between the Price and the Cost to Manufacture.

In [3]:
df['Revenue'] = df.Price - df['Cost to Manufacture']

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?  Revenue
0       Yes     0.25
1       Yes     0.15
2       Yes     2.50
3       Yes     0.50

### Performing Column Operations
In the previous exercise, we learned how to add columns to a DataFrame.

Often, the column that we want to add is related to existing columns, but requires a calculation more complex than multiplication or addition.

We can use the apply function to apply a function to every value in a particular column. For example, this code overwrites the existing 'Name' columns by applying the function upper to every row in 'Name'.

In [4]:
# from string import upper

# df['Name'] = df.Name.apply(upper)

Apply the function lower to all names in column 'Name' in df. Assign these new names to a new column of df called 'Lowercase Name'.

In [5]:
# df['Lowercase Name'] = df.Name.apply(lower)

### Reviewing Lambda Function
A lambda function is a way of defining a function in a single line of code. Usually, we would assign them to a variable.

For example, the following lambda function multiplies a number by 2 and then adds 3:

In [6]:
mylambda = lambda x: (x * 2) + 3
print(mylambda(5))

13

Lambda functions work with all types of variables, not just integers! Here is an example that takes in a string, assigns it to the temporary variable x, and then converts it into lowercase:

In [7]:
stringlambda = lambda x: x.lower()
print(stringlambda("Oh Hi Mark!"))

oh hi mark!

Create a lambda function mylambda that returns the first and last letters of a string, assuming the string is at least 2 characters long.

In [8]:
mylambda = lambda x: x[:1] + x[-1:]

print(mylambda('This is a string'))

Tg

### Reviewing Lambda Function: If Statements
We can make our lambdas more complex by using a modified form of an if statement.

Suppose we want to pay workers time-and-a-half for overtime (any work above 40 hours per week). The following function will convert the number of hours into time-and-a-half hours using an if statement:

In [9]:
def myfunction(x):
    if x > 40:
        return 40 + (x - 40) * 1.50
    else:
        return x

Below is a lambda function that does the same thing:

In [10]:
myfunction = lambda x: 40 + (x - 40) * 1.50 \
    if x > 40 else x

In general, the syntax for an if function in a lambda function is:

In [11]:
# lambda x: [OUTCOME IF TRUE] \
#     if [CONDITIONAL] \
#     else [OUTCOME IF FALSE]

You are managing the webpage of a somewhat violent video game and you want to check that each user's age is 13 or greater when they visit the site.

Write a lambda function that takes an inputted age and either returns Welcome to BattleCity! if the user is 13 or older or You must be over 13 if they are younger than 13. Your lambda function should be called mylambda.

In [12]:
mylambda = lambda x: 'Welcome to BattleCity!'\
    if x >= 13 else 'You must be over 13'

### Applying a Lambda to a Column
In Pandas, we often use lambda functions to perform complex operations on columns. For example, suppose that we want to create a column containing the email provider for each email address.

We could use the following code with a lambda function:

In [13]:
# df['Email Provider'] = df.Email.apply(
#     lambda x: x.split('@')[-1]
#     )

Create a lambda function get_last_name which takes a string with someone's first and last name (i.e., John Smith), and returns just the last name (i.e., Smith).

The DataFrame df represents the hours worked by different employees over the course of the week. It contains the following columns:

'name': The employee's name
'hourly_wage': The employee's hourly wage
'hours_worked': The number of hours worked this week
Use the lambda function get_last_name to create a new column last_name with only the employees' last name.

In [14]:
df = pd.read_csv('employees.csv')

df['last_name'] = df.name.apply(lambda x: x.split(' ')[-1])

print(df)

       id               name  hourly_wage  hours_worked  last_name
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols

### Applying a Lambda to a Row
We can also operate on multiple columns at once. If we use apply without specifying a single column and add the argument axis=1, the input to our lambda function will be an entire row, not a column. To access particular values of the row, we use the syntax row.column_name or row[‘column_name’].

If an employee worked for more than 40 hours, she needs to be paid overtime (1.5 times the normal hourly wage).

For instance, if an employee worked for 43 hours and made \$10/hour, she would receive \$400 for the first 40 hours that she worked, and an additional \$45 for the 3 hours of overtime, for a total for $445.

Create a lambda function total_earned that accepts an input row with keys hours_worked and hourly_wage and uses an if statement to calculate the hourly wage.

Use the lambda function total_earned and apply to add a column total_earned to df with the total amount earned by each employee.

In [15]:
df = pd.read_csv('employees.csv')

total_earned = lambda row: (40*row['hourly_wage']) + (row['hours_worked']-40)*(row['hourly_wage']*1.5) \
    if row['hours_worked'] > 40 \
    else ( row['hours_worked'] * row['hourly_wage'] )
  
df['total_earned'] = df.apply(total_earned, axis=1)

print(df)

       id               name  hourly_wage  hours_worked  total_earned
0   10310      Lauren Durham           19            43         845.5
1   18656      Grace Sellers           17            40         680.0
2   61254  Shirley Rasmussen           16            30         480.0
3   16886        Brian Rojas           18            47         909.0
4   89010    Samantha Mosley           11            38         418.0
5   87246       Louis Guzman           14            39         546.0
6   20578     Denise Mcclure           15            40         600.0
7   12869      James Raymond           15            32         480.0
8   53461       Noah Collier           18            35         630.0
9   14746    Donna Frederick           20            41         830.0
10  71127       Shirley Beck           14            32         448.0
11  92522    Christina Kelly            8            44         368.0
12  22447        Brian Noble           11            39         429.0
13  61654          Randy Key           16            38         608.0
14  16988      Diana Stewart           14            48         728.0
15  68619       Timothy Sosa           14            42         602.0
16  59949      Betty Skinner           11            48         572.0
17  81418      Janet Maxwell           12            38         456.0
18  27267   Madison Johnston           20            37         740.0
19  19985   Virginia Nichols           13            49         695.5

### Renaming Columns
When we get our data from other sources, we often want to change the column names. For example, we might want all of the column names to follow variable name rules, so that we can use df.column_name (which tab-completes) rather than df['column_name'] (which takes up extra space).

You can change all of the column names at once by setting the .columns property to a different list. This is great when you need to change all of the column names at once, but be careful! You can easily mislabel columns if you get the ordering wrong

The DataFrame df contains data about movies from IMDb.

We want to present this data to some film producers. Right now, our column names are in lower case, and are not very descriptive. Let's modify df using the .columns attribute to make the following changes to the columns: (not shown here)

In [16]:
df = pd.read_csv('imdb.csv')

df.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']

print(df)

      ID                                              Title Category  \
0      1                                             Avatar   action
1      2                                     Jurassic World   action
2      3                                       The Avengers   action
3      4                                    The Dark Knight   action
4      5          Star Wars: Episode I - The Phantom Menace   action
5      6                                          Star Wars   action
6      7                            Avengers: Age of Ultron   action
7      8                              The Dark Knight Rises   action
8      9          Pirates of the Caribbean: Dead Mans Chest   action
9     10                                         Iron Man 3   action
10    11                                         Spider-Man   action
11    12                Transformers: Revenge of the Fallen   action
12    13       Star Wars: Episode III - Revenge of the Sith   action
13    14                                       Spider-Man 2   action
14    15                     Transformers: Dark of the Moon   action
15    16                                    American Sniper   action
16    17                                      Furious Seven   action
17    18                                       Spider-Man 3   action
18    19                            Guardians of the Galaxy   action
19    20                                       Transformers   action
20    21                                           Iron Man   action
21    22  Indiana Jones and the Kingdom of the Crystal S...   action
22    23                                         Iron Man 2   action
23    24       Star Wars: Episode II - Attack of the Clones   action
24    25            Pirates of the Caribbean: At Worlds End   action
25    26         Star Wars: Episode VI - Return of the Jedi   action
26    27                                   Independence Day   action
27    28  Pirates of the Caribbean: The Curse of the Bla...   action
28    29                                            Skyfall   action
29    30                                          Inception   action
..   ...                                                ...      ...
190  191                                      The Lion King    drama
191  192       Harry Potter and the Deathly Hallows: Part 2    drama
192  193                                    The Sixth Sense    drama
193  194                                               Jaws    drama
194  195                                        I Am Legend    drama
195  196                                     The Blind Side    drama
196  197                                          Cast Away    drama
197  198                                              Signs    drama
198  199                                Saving Private Ryan    drama
199  200                     Dawn of the Planet of the Apes    drama
200  201                                       Interstellar    drama
201  202                                          Gladiator    drama
202  203                                 Dances with Wolves    drama
203  204                                  The Perfect Storm    drama
204  205                                            Lincoln    drama
205  206                     Rise of the Planet of the Apes    drama
206  207                                     The Karate Kid    drama
207  208                                           Rain Man    drama
208  209                                      Air Force One    drama
209  210                                          True Grit    drama
210  211                                   A Beautiful Mind    drama
211  212                                           The Help    drama
212  213                                   3 Men and a Baby    drama
213  214                                          Gone Girl    drama
214  215                                    Kung Fu Panda 2    drama
215  216                                           Hannibal    drama
216  217                                Catch Me If You Can    drama
217  218                                          Big Daddy    drama
218  219                                              Se7en    drama
219  220                                              Seven    drama

     Year Released  Rating
0             2009     7.9
1             2015     7.3
2             2012     8.1
3             2008     9.0
4             1999     6.6
5             1977     8.7
6             2015     7.9
7             2012     8.5
8             2006     7.3
9             2013     7.3
10            2002     7.3
11            2009     6.0
12            2005     7.7
13            2004     7.3
14            2011     6.3
15            2014     7.4
16            2015     7.4
17            2007     6.2
18            2014     8.1
19            2007     7.1
20            2008     7.9
21            2008     6.2
22            2010     7.1
23            2002     6.7
24            2007     7.1
25            1983     8.4
26            1996     6.9
27            2003     8.1
28            2012     7.8
29            2010     8.8
..             ...     ...
190           1994     8.5
191           2011     8.1
192           1999     8.2
193           1975     8.1
194           2007     7.2
195           2009     7.7
196           2000     7.7
197           2002     6.7
198           1998     8.6
199           2014     7.7
200           2014     8.7
201           2000     8.5
202           1990     8.0
203           2000     6.4
204           2012     7.4
205           2011     7.6
206           2010     6.2
207           1988     8.0
208           1997     6.4
209           2010     7.7
210           2001     8.2
211           2011     8.1
212           1987     5.9
213           2014     8.2
214           2011     7.3
215           2001     6.7
216           2002     8.0
217           1999     6.4
218           1995     8.6
219           1979     6.1

[220 rows x 5 columns]

### Renaming Columns II
You also can rename individual columns by using the .rename method. Pass a dictionary like the one below to the columns keyword argument:

In [17]:
# {'old_column_name1': 'new_column_name1', 'old_column_name2': 'new_column_name2'}

Here's an example:

In [18]:
'''
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.rename(columns={
    'name': 'First Name',
    'age': 'Age'},
    inplace=True)
'''

"\ndf = pd.DataFrame({\n    'name': ['John', 'Jane', 'Sue', 'Fred'],\n    'age': [23, 29, 21, 18]\n})\ndf.rename(columns={\n    'name': 'First Name',\n    'age': 'Age'},\n    inplace=True)\n"

The code above will rename name to First Name and age to Age.

Using rename with only the columns keyword will create a new DataFrame, leaving your original DataFrame unchanged. That's why we also passed in the keyword argument inplace=True. Using inplace=True lets us edit the original DataFrame.

There are several reasons why .rename is preferable to .columns:

    You can rename just one column
    You can be specific about which column names are getting changed (with .column you can accidentally switch column names if you're not careful)
Note: If you misspell one of the original column names, this command won't fail. It just won't change anything.

If we didn't know that df was a table of movie ratings, the column name might be confusing.

To clarify, let's rename name to movie_title.

Use the keyword inplace=True so that you modify df rather than creating a new DataFrame!

In [19]:
df = pd.read_csv('imdb.csv')

df.rename(columns={
    'name' : 'movie_title'},
    inplace=True)

print(df)

      id                                        movie_title   genre  year  \
0      1                                             Avatar  action  2009
1      2                                     Jurassic World  action  2015
2      3                                       The Avengers  action  2012
3      4                                    The Dark Knight  action  2008
4      5          Star Wars: Episode I - The Phantom Menace  action  1999
5      6                                          Star Wars  action  1977
6      7                            Avengers: Age of Ultron  action  2015
7      8                              The Dark Knight Rises  action  2012
8      9          Pirates of the Caribbean: Dead Mans Chest  action  2006
9     10                                         Iron Man 3  action  2013
10    11                                         Spider-Man  action  2002
11    12                Transformers: Revenge of the Fallen  action  2009
12    13       Star Wars: Episode III - Revenge of the Sith  action  2005
13    14                                       Spider-Man 2  action  2004
14    15                     Transformers: Dark of the Moon  action  2011
15    16                                    American Sniper  action  2014
16    17                                      Furious Seven  action  2015
17    18                                       Spider-Man 3  action  2007
18    19                            Guardians of the Galaxy  action  2014
19    20                                       Transformers  action  2007
20    21                                           Iron Man  action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...  action  2008
22    23                                         Iron Man 2  action  2010
23    24       Star Wars: Episode II - Attack of the Clones  action  2002
24    25            Pirates of the Caribbean: At Worlds End  action  2007
25    26         Star Wars: Episode VI - Return of the Jedi  action  1983
26    27                                   Independence Day  action  1996
27    28  Pirates of the Caribbean: The Curse of the Bla...  action  2003
28    29                                            Skyfall  action  2012
29    30                                          Inception  action  2010
..   ...                                                ...     ...   ...
190  191                                      The Lion King   drama  1994
191  192       Harry Potter and the Deathly Hallows: Part 2   drama  2011
192  193                                    The Sixth Sense   drama  1999
193  194                                               Jaws   drama  1975
194  195                                        I Am Legend   drama  2007
195  196                                     The Blind Side   drama  2009
196  197                                          Cast Away   drama  2000
197  198                                              Signs   drama  2002
198  199                                Saving Private Ryan   drama  1998
199  200                     Dawn of the Planet of the Apes   drama  2014
200  201                                       Interstellar   drama  2014
201  202                                          Gladiator   drama  2000
202  203                                 Dances with Wolves   drama  1990
203  204                                  The Perfect Storm   drama  2000
204  205                                            Lincoln   drama  2012
205  206                     Rise of the Planet of the Apes   drama  2011
206  207                                     The Karate Kid   drama  2010
207  208                                           Rain Man   drama  1988
208  209                                      Air Force One   drama  1997
209  210                                          True Grit   drama  2010
210  211                                   A Beautiful Mind   drama  2001
211  212                                           The Help   drama  2011
212  213                                   3 Men and a Baby   drama  1987
213  214                                          Gone Girl   drama  2014
214  215                                    Kung Fu Panda 2   drama  2011
215  216                                           Hannibal   drama  2001
216  217                                Catch Me If You Can   drama  2002
217  218                                          Big Daddy   drama  1999
218  219                                              Se7en   drama  1995
219  220                                              Seven   drama  1979

     imdb_rating
0            7.9
1            7.3
2            8.1
3            9.0
4            6.6
5            8.7
6            7.9
7            8.5
8            7.3
9            7.3
10           7.3
11           6.0
12           7.7
13           7.3
14           6.3
15           7.4
16           7.4
17           6.2
18           8.1
19           7.1
20           7.9
21           6.2
22           7.1
23           6.7
24           7.1
25           8.4
26           6.9
27           8.1
28           7.8
29           8.8
..           ...
190          8.5
191          8.1
192          8.2
193          8.1
194          7.2
195          7.7
196          7.7
197          6.7
198          8.6
199          7.7
200          8.7
201          8.5
202          8.0
203          6.4
204          7.4
205          7.6
206          6.2
207          8.0
208          6.4
209          7.7
210          8.2
211          8.1
212          5.9
213          8.2
214          7.3
215          6.7
216          8.0
217          6.4
218          8.6
219          6.1

[220 rows x 5 columns]

### Review
Great job! In this lesson, you learned how to modify an existing DataFrame. Some of the skills you've learned include:

Adding columns to a DataFrame
Using lambda functions to calculate complex quantities
Renaming columns
Let's practice what you just learned!

Once more, you'll be the data analyst for ShoeFly.com, a fictional online shoe store.

More messy order data has been loaded into the variable orders. Examine the first 5 rows of the data using print and head.

Many of our customers want to buy vegan shoes (shoes made from materials that do not come from animals). Add a new column called shoe_source, which is vegan if the materials is not leather and animal otherwise.

Our marketing department wants to send out an email to each customer. Using the columns last_name and gender create a column called salutation which contains Dear Mr. <last_name> for men and Dear Ms. <last_name> for women.

In [22]:
'''
orders = pd.read_csv('shoefly.csv')

orders['shoe_source'] = orders.apply(lambda row: 'vegan'
    if row['shoe_material'] != 'leather'
    else 'animal',
    axis=1
)

orders['salutation'] = orders.apply(lambda row: 'Dear Mr. ' + row['last_name']
    if row['gender'] == 'male'
    else 'Dear Ms. ' + row['last_name'],        
    axis=1
)
print(orders.head(5))
'''

"\norders = pd.read_csv('shoefly.csv')\n\norders['shoe_source'] = orders.apply(lambda row: 'vegan'\n    if row['shoe_material'] != 'leather'\n    else 'animal',\n    axis=1\n)\n\norders['salutation'] = orders.apply(lambda row: 'Dear Mr. ' + row['last_name']\n    if row['gender'] == 'male'\n    else 'Dear Ms. ' + row['last_name'],        \n    axis=1\n)\nprint(orders.head(5))\n"