### Introduction
In order to efficiently store data, we often spread related information across multiple tables.

For instance, imagine that we're running a magazine company where users can have different types of subscriptions to different products. Different subscriptions might have many different properties. Each customer would also have lots of associated information.

We could have one table with all of the following information:

    order_id
    customer_id
    customer_name
    customer_address
    subscription_id
    subscription_description
    subscription_monthly_price
    subscription_length
    purchase_date
However, a lot of this information would be repeated. If the same customer has multiple subscriptions, that customer's name and address will be reported multiple times. If the same subscription type is ordered by multiple customers, then the subscription price and subscription description will be repeated. This will make our table big and unmanageable.

So instead, we can split our data into three tables:

orders would contain just the information necessary to describe what was ordered:
    order_id
    customer_id
    subscription_id
    purchase_date
subscriptions would contain the information to describe each type of subscription:
    subscription_id
    description
    price_per_month
    subscription_length
customers would contain the information for each customer:
    customer_id
    customer_name
    address
In this lesson, we'll learn the SQL commands that will help us work with data that is stored in multiple tables.

In [1]:
# SELECT * FROM orders LIMIT 5;

# SELECT * FROM subscriptions LIMIT 5;

# SELECT * FROM customers LIMIT 5;

### Combining Tables Manually
Let's return to our magazine company. Suppose we have the three tables described in the previous exercise â€“ shown in the browser on the right (we are going to try something new!):

    orders
    subscriptions
    customers
If we just look at the orders table, we can't really tell what's happened in each order. However, if we refer to the other tables, we can get a complete picture.

Let's examine the order with an order_id of 2. It was purchased by the customer with a customer_id of 2.

To find out the customer's name, we look at the customers table and look for the item with a customer_id value of 2. We can see that Customer 2's name is 'Jane Doe' and that she lives at '456 Park Ave'.

Doing this kind of matching is called joining two tables.

### Combining Tables with SQL
Combining tables manually is time-consuming. Luckily, SQL gives us an easy sequence for this: it's called a JOIN.

If we want to combine orders and customers, we would type:

In [1]:
'''
SELECT *
FROM orders
JOIN customers
  ON orders.customer_id = customers.customer_id;
'''

'\nSELECT *\nFROM orders\nJOIN customers\n  ON orders.customer_id = customers.customer_id;\n'

Let's break down this command:

    The first line selects all columns from our combined table. If we only want to select certain columns, we can specify which ones we want.
    The second line specifies the first table that we want to look in, orders
    The third line uses JOIN to say that we want to combine information from orders with customers.
    The fourth line tells us how to combine the two tables. We want to match customer_id from orders with customer_id from customers.
Because column names are often repeated across multiple tables, we use the syntax table_name.column_name to be sure that our requests for columns are unambiguous. In our example, we use this syntax in the ON statement, but we will also use it in the SELECT or any other statement where we refer to column names.

For example, if we only wanted to select the order_id from orders and the customer_name from customers, we could use the following query:

In [2]:
'''
SELECT orders.order_id,
   customers.customer_name
FROM orders
JOIN customers
  ON orders.customer_id = customers.customer_id;
'''

'\nSELECT orders.order_id,\n   customers.customer_name\nFROM orders\nJOIN customers\n  ON orders.customer_id = customers.customer_id;\n'

Join orders table and subscriptions table and select all columns.

Make sure to join on subscription_id.

In [3]:
'''
SELECT *
FROM orders
JOIN subscriptions
  ON orders.subscription_id = subscriptions.subscription_id;
'''

'\nSELECT *\nFROM orders\nJOIN subscriptions\n  ON orders.subscription_id = subscriptions.subscription_id;\n'

Don't remove the previous query.

Add a second query after your first one that only selects rows from the join where description is equal to 'Fashion Magazine'.

In [4]:
'''
SELECT *
FROM orders
JOIN subscriptions
  ON orders.subscription_id = subscriptions.subscription_id;

SELECT *
FROM orders
JOIN subscriptions
  ON orders.subscription_id = subscriptions.subscription_id
WHERE subscriptions.description = 'Fashion Magazine';
'''

"\nSELECT *\nFROM orders\nJOIN subscriptions\n  ON orders.subscription_id = subscriptions.subscription_id;\n\nSELECT *\nFROM orders\nJOIN subscriptions\n  ON orders.subscription_id = subscriptions.subscription_id\nWHERE subscriptions.description = 'Fashion Magazine';\n"

### Inner Joins
Let's revisit how we joined orders and customers. For every possible value of customer_id in orders, there was a corresponding row of customers with the same customer_id.

What if that wasn't true?

For instance, imagine that our customers table was out of date, and was missing any information on customer 11. If that customer had an order in orders, what would happen when we joined the tables?

When we perform a simple JOIN (often called an inner join) our result only includes rows that match our ON condition.

Suppose we are working for The Codecademy Times, a newspaper with two types of subscriptions:

    print newspaper
    online articles
Some users subscribe to just the newspaper, some subscribe to just the online edition, and some subscribe to both.

The table newspaper contains information about the newspaper subscribers.

Count the number of subscribers who get a print newspaper using COUNT().

In [5]:
# SELECT COUNT(*) FROM newspaper;

Don't remove your previous query.

The table online contains information about the online subscribers.

Count the number of subscribers who get an online newspaper using COUNT().

In [6]:
'''
SELECT COUNT(*)
FROM newspaper;

SELECT COUNT(*)
FROM online;
'''

'\nSELECT COUNT(*)\nFROM newspaper;\n\nSELECT COUNT(*)\nFROM online;\n'

Don't remove your previous queries.

Join newspaper and online on id (the unique ID of the subscriber).

How many rows are in this table?

In [7]:
'''
SELECT COUNT(*)
FROM newspaper;

SELECT COUNT(*)
FROM online;

SELECT COUNT(*)
FROM newspaper
JOIN online
	ON newspaper.id = online.id;
'''

'\nSELECT COUNT(*)\nFROM newspaper;\n\nSELECT COUNT(*)\nFROM online;\n\nSELECT COUNT(*)\nFROM newspaper\nJOIN online\n\tON newspaper.id = online.id;\n'

### Left Joins
What if we want to combine two tables and keep some of the un-matched rows?

SQL lets us do this through a command called LEFT JOIN. A left join will keep all rows from the first table, regardless of whether there is a matching row in the second table.

Let's return to our newspaper and online subscribers. Suppose we want to know how many users subscribe to the print newspaper, but not to the online.

Start by performing a left join of newspaper and online on id and selecting all columns.

In [8]:
'''
SELECT *
FROM newspaper
LEFT JOIN online
	ON newspaper.id = online.id;
'''

'\nSELECT *\nFROM newspaper\nLEFT JOIN online\n\tON newspaper.id = online.id;\n'

In order to find which users do not subscribe to the online edition, we need to add a WHERE clause.

In [9]:
'''
SELECT *
FROM newspaper
LEFT JOIN online
  ON newspaper.id = online.id
WHERE online.id IS NULL;
'''

'\nSELECT *\nFROM newspaper\nLEFT JOIN online\n  ON newspaper.id = online.id\nWHERE online.id IS NULL;\n'

### Primary Key vs Foreign Key
Let's return to our example of the magazine subscriptions. Recall that we had three tables: orders, subscriptions, and customers.

Each of these tables has a column that uniquely identifies each row of that table:

    order_id for orders
    subscription_id for subscriptions
    customer_id for customers
These special columns are called primary keys.

Primary keys have a few requirements:

    None of the values can be NULL.
    Each value must be unique (i.e., you can't have two customers with the same customer_id in the customers table).
    A table can not have more than one primary key column.

Suppose Columbia University has two tables in their database:

    The classes table contains information on the classes that the school offers. Its primary key is id.
    The students table contains information on all students in the school. Its primary key is id. It contains the foreign key class_id, which corresponds to the primary key of classes.
Perform an inner join of classes and students using the primary and foreign keys described above, and select all the columns.

In [1]:
'''
SELECT *
FROM classes
JOIN students
	ON classes.id = students.class_id;
'''

'\nSELECT *\nFROM classes\nJOIN students\n\tON classes.id = students.class_id;\n'

### Cross Join
So far, we've focused on matching rows that have some information in common.

Sometimes, we just want to combine all rows of one table with all rows of another table.

For instance, if we had a table of shirts and a table of pants, we might want to know all the possible combinations to create different outfits.

Our code might look like this:

In [2]:
'''
SELECT shirts.shirt_color,
   pants.pants_color
FROM shirts
CROSS JOIN pants;
'''

'\nSELECT shirts.shirt_color,\n   pants.pants_color\nFROM shirts\nCROSS JOIN pants;\n'

    The first two lines select the columns shirt_color and pants_color.
    The third line pulls data from the table shirts.
    The fourth line performs a CROSS JOIN with pants.
Notice that cross joins don't require an ON statement. You're not really joining on any columns!

3 shirts Ã— 2 pants = 6 combinations!

This clothing example is fun, but it's not very practically useful.

A more common usage of CROSS JOIN is when we need to compare each row of a table to a list of values.

Let's return to our newspaper subscriptions. This table contains two columns that we haven't discussed yet:

    start_month: the first month where the customer subscribed to the print newspaper (i.e., 2 for February)
    end_month: the final month where the customer subscribed to the print newspaper
Suppose we wanted to know how many users were subscribed during each month of the year. For each month (1, 2, 3) we would need to know if a user was subscribed. Follow the steps below to see how we can use a CROSS JOIN to solve this problem.

Eventually, we'll use a cross join to help us, but first, let's try a simpler problem.

Let's start by counting the number of customers who were subscribed to the newspaper during March.

In [3]:
'''
SELECT COUNT(*)
from newspaper
WHERE start_month <=3 AND end_month>=3;
'''

'\nSELECT COUNT(*)\nfrom newspaper\nWHERE start_month <=3 AND end_month>=3;\n'

Don't remove the previous query.

The previous query lets us investigate one month at a time. In order to check across all months, we're going to need to use a cross join.

Our database contains another table called months which contains the numbers between 1 and 12.

Select all columns from the cross join of newspaper and months.

In [4]:
'''
SELECT COUNT(*)
from newspaper
WHERE start_month <=3 AND end_month>=3;

SELECT *
from newspaper
CROSS JOIN months;
'''

'\nSELECT COUNT(*)\nfrom newspaper\nWHERE start_month <=3 AND end_month>=3;\n\nSELECT *\nfrom newspaper\nCROSS JOIN months;\n'

Don't remove your previous queries.

Create a third query where you add a WHERE statement to your cross join to restrict to two conditions:

    start_month <= month
    end_month >= month
This will select all months where a user was subscribed.

In [5]:
'''
SELECT COUNT(*)
from newspaper
WHERE start_month <=3 AND end_month>=3;

SELECT *
from newspaper
CROSS JOIN months;

SELECT *
FROM newspaper
CROSS JOIN months
WHERE start_month <= month
AND end_month >= month;
'''

'\nSELECT COUNT(*)\nfrom newspaper\nWHERE start_month <=3 AND end_month>=3;\n\nSELECT *\nfrom newspaper\nCROSS JOIN months;\n\nSELECT *\nFROM newspaper\nCROSS JOIN months\nWHERE start_month <= month\nAND end_month >= month;\n'

Don't remove your previous queries.

Create a final query where you aggregate over each month to count the number of subscribers.

In [6]:
'''
SELECT COUNT(*)
from newspaper
WHERE start_month <=3 AND end_month>=3;

SELECT *
from newspaper
CROSS JOIN months;

SELECT *
FROM newspaper
CROSS JOIN months
WHERE start_month <= month AND end_month >= month;

SELECT month,
   COUNT(*) AS 'subscribers'
FROM newspaper
CROSS JOIN months
WHERE start_month <= month 
   AND end_month >= month
GROUP BY month;
'''

"\nSELECT COUNT(*)\nfrom newspaper\nWHERE start_month <=3 AND end_month>=3;\n\nSELECT *\nfrom newspaper\nCROSS JOIN months;\n\nSELECT *\nFROM newspaper\nCROSS JOIN months\nWHERE start_month <= month AND end_month >= month;\n\nSELECT month,\n   COUNT(*) AS 'subscribers'\nFROM newspaper\nCROSS JOIN months\nWHERE start_month <= month \n   AND end_month >= month\nGROUP BY month;\n"

### Union
Sometimes we just want to stack one dataset on top of the other. Well, the UNION operator allows us to do that.

SQL has strict rules for appending data:

Tables must have the same number of columns.
The columns must have the same data types in the same order as the first table.

Let's return to our newspaper and online subscriptions. We'd like to create one big table with both sets of data.

Use UNION to stack the newspaper table on top of the online table.

In [7]:
'''
SELECT *
FROM newspaper
UNION
SELECT *
FROM online;
'''

'\nSELECT *\nFROM newspaper\nUNION\nSELECT *\nFROM online;\n'

### With
Often times, we want to combine two tables, but one of the tables is the result of another calculation.

Let's return to our magazine order example. Our marketing department might want to know a bit more about our customers. For instance, they might want to know how many magazines each customer subscribes to. We can easily calculate this using our orders table:

In [8]:
'''
SELECT customer_id,
   COUNT(subscription_id) AS 'subscriptions'
FROM orders
GROUP BY customer_id;
'''

"\nSELECT customer_id,\n   COUNT(subscription_id) AS 'subscriptions'\nFROM orders\nGROUP BY customer_id;\n"

This query is good, but a customer_id isn't terribly useful for our marketing department, they probably want to know the customer's name.

We want to be able to join the results of this query with our customers table, which will tell us the name of each customer. We can do this by using a WITH clause.

In [9]:
'''
WITH previous_results AS (
   SELECT ...
   ...
   ...
   ...
)
SELECT *
FROM previous_results
JOIN customers
  ON _____ = _____;
'''

'\nWITH previous_results AS (\n   SELECT ...\n   ...\n   ...\n   ...\n)\nSELECT *\nFROM previous_results\nJOIN customers\n  ON _____ = _____;\n'

    The WITH statement allows us to perform a separate query (such as aggregating customer's subscriptions)
    previous_results is the alias that we will use to reference any columns from the query inside of the WITH clause
    We can then go on to do whatever we want with this temporary table (such as join the temporary table with another table)
Essentially, we are putting a whole first query inside the parentheses () and giving it a name. After that, we can use this name as if it's a table and write a new query using the first query.

Place the whole query below into a WITH statement using the alias previous_query:

In [10]:
'''
SELECT customer_id,
   COUNT(subscription_id) AS 'subscriptions'
FROM orders
GROUP BY customer_id
'''

"\nSELECT customer_id,\n   COUNT(subscription_id) AS 'subscriptions'\nFROM orders\nGROUP BY customer_id\n"

Join previous_query with customers and select the following columns:

    customers.customer_name
    previous_query.subscriptions

In [11]:
'''
WITH previous_query AS (
   SELECT customer_id,
      COUNT(subscription_id) AS 'subscriptions'
   FROM orders
   GROUP BY customer_id
)
SELECT customers.customer_name, 
   previous_query.subscriptions
FROM previous_query
JOIN customers
  ON previous_query.customer_id = customers.customer_id;
'''

"\nWITH previous_query AS (\n   SELECT customer_id,\n      COUNT(subscription_id) AS 'subscriptions'\n   FROM orders\n   GROUP BY customer_id\n)\nSELECT customers.customer_name, \n   previous_query.subscriptions\nFROM previous_query\nJOIN customers\n  ON previous_query.customer_id = customers.customer_id;\n"

### Review
In this lesson, we learned about relationships between tables in relational databases and how to query information from multiple tables using SQL.

Let's summarize what we've learned so far:

    JOIN will combine rows from different tables if the join condition is true.

    LEFT JOIN will return every row in the left table, and if the join condition is not met, NULL values are used to fill in the columns from the right table.

    Primary key is a column that serves a unique identifier for the rows in the table.

    Foreign key is a column that contains the primary key to another table.

    CROSS JOIN lets us combine all rows of one table with all rows of another table.

    UNION stacks one dataset on top of another.

    WITH allows us to define one or more temporary tables that can be used in the final query.