### Trends in Startups
In this project, you will calculate quantities like sums and averages over multiple columns.

Suppose you are writing an article for TechCrunch about trends in the startup world. Write queries with aggregate functions to retrieve information from the startups table.

Getting started, take a look at the startups table.

What are the column names?

In [3]:
# SELECT * FROM startups;
# 10 columns

Calculate the total number of companies in the table.

In [4]:
# SELECT COUNT(*) FROM startups;
# 70 compoanies

We want to know the total value of all companies in this table.

Calculate this by getting the SUM of the valuation column.

In [5]:
# SELECT SUM(valuation) FROM startups;
# 974455790000

How much money is available for new startups?

Return the maximum amount of money raised.

In [6]:
# SELECT SUM(raised) FROM startups;
# 21238500003

Edit the query so that it returns the maximum amount of money raised, during 'Seed' stage.

In [7]:
# SELECT SUM(raised) FROM startups WHERE stage = 'Seed';
# 10220003

What year is the oldest company on the list founded on?

In [8]:
# SELECT MIN(founded) from startups;
# 1994

Return the average valuation.

In [9]:
# SELECT AVG(valuation) from startups;
# 15974685081.9672

Return the average valuation, in each category.

In [10]:
# SELECT category, AVG(valuation) FROM startups GROUP BY category;

Return the average valuation, in each category.

Round the averages to two decimal places.

In [11]:
# SELECT category, ROUND(AVG(valuation) FROM startups GROUP BY category;

Return the average valuation, in each category.

Round the averages to two decimal places.

Lastly, order the list from highest averages to lowest.

In [12]:
# SELECT category, ROUND(AVG(valuation) FROM startups GROUP BY 1 ORDER BY 2 DESC;

First, return the name of each category with the total number of companies that belong to it.

In [13]:
# SELECT category, COUNT(*) FROM startups GROUP BY 1;

Next, filter the result only include categories with more than three companies.

What are the three most competitive markets?

In [14]:
'''
SELECT category, COUNT(*) 
FROM startups 
GROUP BY 1 
HAVING COUNT(*) > 3
ORDER BY 2 DESC;
'''

'\nSELECT category, COUNT(*) \nFROM startups \nGROUP BY 1 \nHAVING COUNT(*) > 3\nORDER BY 2 DESC;\n'

What is the average size of a startup in each location?

In [16]:
'''
SELECT location, AVG(employees)
FROM startups
GROUP BY location;
'''

'\nSELECT location, AVG(employees)\nFROM startups\nGROUP BY location;\n'

What is the average size of a startup in each location, with average sizes above 500?

In [17]:
'''
SELECT location, AVG(employees)
FROM startups
GROUP BY location
HAVING AVG(employees) > 500;
'''

'\nSELECT location, AVG(employees)\nFROM startups\nGROUP BY location\nHAVING AVG(employees) > 500;\n'