### Introduction
We've learned how to write queries to retrieve information from the database. Now, we are going to learn how to perform calculations using SQL.

Calculations performed on multiple rows of a table are called aggregates.

In this lesson, we have given you a table named fake_apps which is made up of fake mobile applications data.

Here is a quick preview of some important aggregates that we will cover in the next five exercises:

COUNT(): count the number of rows
SUM(): the sum of the values in a column
MAX()/MIN(): the largest/smallest value
AVG(): the average of the values in a column
ROUND(): round the values in the column
Let's get started!

Before getting started, take a look at the data in the fake_apps table.

In [1]:
# SELECT * FROM fake_apps;

### Count
The fastest way to calculate how many rows are in a table is to use the COUNT() function.

COUNT() is a function that takes the name of a column as an argument and counts the number of non-empty values in that column.

In [2]:
# SELECT COUNT(*) FROM table_name;

Here, we want to count every row, so we pass * as an argument inside the parenthesis.

Let's count how many apps are in the table.

In [3]:
# SELECT COUNT(*) FROM fake_apps;

Add a WHERE clause in the previous query to count how many free apps are in the table.

In [4]:
# SELECT COUNT(*) FROM fake_apps WHERE price = 0.0;

### Sum
SQL makes it easy to add all values in a particular column using SUM().

SUM() is a function that takes the name of a column as an argument and returns the sum of all the values in that column.

What is the total number of downloads for all of the apps combined?

In [5]:
# SELECT SUM(downloads) FROM fake_apps;

Max / Min
The MAX() and MIN() functions return the highest and lowest values in a column, respectively.

How many downloads does the most popular app have?

In [6]:
# SELECT MAX(downloads) FROM fake_apps;

Write a new query that returns the price of the most expensive app.

In [7]:
# SELECT MAX(price) from fake_apps;

### Average
SQL uses the AVG() function to quickly calculate the average value of a particular column.

Calculate the average number of downloads for all the apps in the table.

In [8]:
# SELECT AVG(downloads) FROM fake_apps;

Write a new query that calculates the average price for all the apps in the table.

In [9]:
# SELECT AVG(price) FROM fake_apps;

### Round
By default, SQL tries to be as precise as possible without rounding. We can make the result table easier to read using the ROUND() function.

ROUND() function takes two arguments inside the parenthesis:

a column name
an integer
It rounds the values in the column to the number of decimal places specified by the integer.

Let's return the name column and a rounded price column.

In [10]:
# SELECT name, ROUND(price, 0) FROM fake_apps;

In the last exercise, we were able to get the average price of an app. Now, let's edit this query so that it rounds this result to 2 decimal places.

In [11]:
# SELECT ROUND(AVG(price), 2) from fake_apps;

### Group By I
Oftentimes, we will want to calculate an aggregate for data with certain characteristics.

For instance, we might want to know the mean IMDb ratings for all movies each year. We could calculate each number by a series of queries with different WHERE statements, like so:

In [12]:
'''
SELECT AVG(imdb_rating)
FROM movies
WHERE year = 1999;

SELECT AVG(imdb_rating)
FROM movies
WHERE year = 2000;

SELECT AVG(imdb_rating)
FROM movies
WHERE year = 2001;
'''

'\nSELECT AVG(imdb_rating)\nFROM movies\nWHERE year = 1999;\n\nSELECT AVG(imdb_rating)\nFROM movies\nWHERE year = 2000;\n\nSELECT AVG(imdb_rating)\nFROM movies\nWHERE year = 2001;\n'

and so on.

Luckily, there's a better way!

We can use GROUP BY to do this in a single step:

In [13]:
'''
SELECT year,
   AVG(imdb_rating)
FROM movies
GROUP BY year
ORDER BY year;
'''

'\nSELECT year,\n   AVG(imdb_rating)\nFROM movies\nGROUP BY year\nORDER BY year;\n'

GROUP BY is a clause in SQL that is used with aggregate functions. It is used in collaboration with the SELECT statement to arrange identical data into groups.

The GROUP BY statement comes after any WHERE statements, but before ORDER BY or LIMIT.

Count the number of apps at each price

In [14]:
# SELECT price, COUNT(*) FROM fake_apps GROUP BY price;

In the previous query, add a WHERE clause to count the total number of apps that have been downloaded more than 20,000 times, at each price.

In [15]:
# SELECT price, COUNT(*) FROM fake_apps WHERE downloads > 20000 GROUP BY price;

Write a new query that calculates the total number of downloads for each category.

Select category and SUM(downloads).

In [16]:
# SELECT category, SUM(downloads) FROM fake_apps GROUP BY category;

### Group By II
Sometimes, we want to GROUP BY a calculation done on a column.

For instance, we might want to know how many movies have IMDb ratings that round to 1, 2, 3, 4, 5. We could do this using the following syntax:

In [17]:
'''
SELECT ROUND(imdb_rating),
   COUNT(name)
FROM movies
GROUP BY ROUND(imdb_rating)
ORDER BY ROUND(imdb_rating);
'''

'\nSELECT ROUND(imdb_rating),\n   COUNT(name)\nFROM movies\nGROUP BY ROUND(imdb_rating)\nORDER BY ROUND(imdb_rating);\n'

However, this query may be time-consuming to write and more prone to error.

SQL lets us use column reference(s) in our GROUP BY that will make our lives easier.

    1 is the first column selected
    2 is the second column selected
    3 is the third column selected
and so on.

The following query is equivalent to the one above:

In [18]:
'''
SELECT ROUND(imdb_rating),
   COUNT(name)
FROM movies
GROUP BY 1
ORDER BY 1;
'''

'\nSELECT ROUND(imdb_rating),\n   COUNT(name)\nFROM movies\nGROUP BY 1\nORDER BY 1;\n'

SELECT category, price, AVG(downloads) FROM fake_apps GROUP BY category, price;

Write the exact query, but use column reference numbers instead of column names after GROUP BY.

In [19]:
# SELECT category, price, AVG(downloads) FROM fake_apps GROUP BY 1, 2;

### Having
In addition to being able to group data using GROUP BY, SQL also allows you to filter which groups to include and which to exclude.

For instance, imagine that we want to see how many movies of different genres were produced each year, but we only care about years and genres with at least 10 movies.

We can't use WHERE here because we don't want to filter the rows; we want to filter groups.

This is where HAVING comes in.

HAVING is very similar to WHERE. In fact, all types of WHERE clauses you learned about thus far can be used with HAVING.

We can use the following for the problem:

In [20]:
'''
SELECT year,
   genre,
   COUNT(name)
FROM movies
GROUP BY 1, 2
HAVING COUNT(name) > 10;
'''

'\nSELECT year,\n   genre,\n   COUNT(name)\nFROM movies\nGROUP BY 1, 2\nHAVING COUNT(name) > 10;\n'

    When we want to limit the results of a query based on values of the individual rows, use WHERE.
    When we want to limit the results of a query based on an aggregate property, use HAVING.
HAVING statement always comes after GROUP BY, but before ORDER BY and LIMIT.

Suppose we have the query below:

SELECT price, ROUND(AVG(downloads)), COUNT(*) FROM fake_apps GROUP BY price;

It returns the average downloads (rounded) and the number of apps – at each price point.

However, certain price points don't have very many apps, so their average downloads are less meaningful.

Add a HAVING clause to restrict the query to price points that have more than 10 apps.

In [21]:
'''
SELECT price, 
   ROUND(AVG(downloads)),
   COUNT(*)
FROM fake_apps
GROUP BY price
HAVING COUNT(*) > 10;
'''

'\nSELECT price, \n   ROUND(AVG(downloads)),\n   COUNT(*)\nFROM fake_apps\nGROUP BY price\nHAVING COUNT(*) > 10;\n'

Review
Congratulations!

You just learned how to use aggregate functions to perform calculations on your data. What can we generalize so far?

    COUNT(): count the number of rows
    SUM(): the sum of the values in a column
    MAX()/MIN(): the largest/smallest value
    AVG(): the average of the values in a column
    ROUND(): round the values in the column
Aggregate functions combine multiple rows together to form a single value of more meaningful information.

    GROUP BY is a clause used with aggregate functions to combine data from one or more columns.
    HAVING limit the results of a query based on an aggregate property.