### Queries - Restaurants
We have put together a table of restaurants called nomnom and we need your help to answer some questions. Use the SQL commands you just learned and find the best dinner spots in the city.

Let's begin!


Let's start by checking out the whole nomnom table.

What are the column names?

In [1]:
# SELECT * FROM nomnom;

What are the distinct neighborhoods?

In [2]:
# SELECT DISTINCT neighborhood from nomnom;

What are the distinct cuisine types?

In [3]:
# SELECT DISTINCT cuisine from nomnom;

Suppose we would like some Chinese takeout. What are our options?

In [4]:
# SELECT name FROM nomnom WHERE cuisine = 'Chinese';

Return all the restaurants with reviews of 4 and above.

In [6]:
# SELECT name FROM nomnom WHERE review >= 4;

Suppose Abbi and Ilana want to have a fancy dinner date.

Return all the restaurants that are Italian and $$$.

In [7]:
# SELECT * FROM nomnom WHERE cuisine = 'Italian' AND price = '$$$';

Your coworker Trey can't remember the exact name of a restaurant he went to but he knows it contains the word 'meatball' in it.

Can you find it for him using a query?

In [8]:
# SELECT name from nomnom WHERE name LIKE '%meatball%';

Let's order delivery to the house!

Find all the close by spots in Midtown, Downtown or Chinatown.

(OR can be used more than once)

In [9]:
# SELECT * FROM nomnom 
#     WHERE neighborhood='Midtown'
#     OR neighborhood='Downtown'
#     OR neighborhood='Chinatown';

Find all the health grade pending restaurants (empty values).

In [10]:
# SELECT * FROM nomnom WHERE health IS NULL;

Create a Top 10 Restaurants Ranking based on reviews.

In [11]:
# SELECT name FROM nomnom ORDER BY review DESC LIMIT 10;

Use a CASE statement to change the rating system to:

    review > 4.5 is Extraordinary
    review > 4 is Excellent
    review > 3 is Good
    review > 2 is Fair
    Everything else is Poor
Don't forget to rename the new column!

In [12]:
'''
SELECT name,
	CASE
  	WHEN review > 4.5 THEN 'Extraordinary'
    WHEN review > 4 THEN 'Excellent'
    WHEN review > 3 THEN 'Good'
    WHEN review > 2 THEN 'Fair'
    ELSE 'Poor'
  END AS 'Review'
FROM nomnom;
'''

"\nSELECT name,\n\tCASE\n  \tWHEN review > 4.5 THEN 'Extraordinary'\n    WHEN review > 4 THEN 'Excellent'\n    WHEN review > 3 THEN 'Good'\n    WHEN review > 2 THEN 'Fair'\n    ELSE 'Poor'\n  END AS 'Review'\nFROM nomnom;\n"